body {
    background-color: blue;
}

p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-size: 20px;
}

h1 {
    margin-bottom: 100px;
    font-size: 70px;
}

a {
    color: green;
}